body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/*Estilos de Home.jsx*/  
.home {
    text-align: center;
    padding: 2rem;
}

.home-sections a {
    margin: 0 1rem;
    text-decoration: none;
    color: #007bff;
}

/*Estilos de Players.jsx*/  
